/*  .bg{
  background :rgb(15,25,58)
} 
.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .loginBox{
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
.right input:focus{
  outline:none; 
}
  
  .loginInput{
      height: 50px;
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton{
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #1775ee;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  .loginButton:focus{
    outline: none;
  }
  
  .loginButton:disabled{
    cursor: not-allowed;
  }
  
  .loginForgot{
      text-align: center;
      color: #1775ee;
  }
  
  .loginRegisterButton{
      width: 60%;
      align-self: center;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #42b72a;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  } */

  .login-form h1 {
    font-size: 36px;
    text-align: center;
    color: #45aba6;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .login-form .social-icon {
      width: 100%;
      font-size: 20px;
      padding-top: 20px;
      color: #fff;
      text-align: center;
      float: left;
  }
  .login-form {
      background: #fff;
      width: 450px;
      border-radius: 6px;
      margin: 0 auto;
      display: table;
      padding: 15px 30px 30px;
      box-sizing: border-box;
  }
  .form-group {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    position: relative;
  }
  .login-form input {
      width: 100%;
      padding: 5px;
      height: 56px;
      border-radius: 74px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-size: 15px;
      padding-left: 75px;
  }
  .login-form .form-group .input-icon {
      font-size: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      height: 100%;
      padding-left: 35px;
      color: #666;
  }
  .login-form .login-btn {
    background: #45aba6;
    padding: 11px 50px;
    border-color: #45aba6;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid #45aba6;
    border-radius: 44px;
    width: 100%;
    height: 56px;
    cursor: pointer;
  }
  .login-form .reset-psw {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #45aba6;
    font-size: 14px;
    text-align: center;
    margin-top: 11px;
  }
  .login-form .social-icon  {
      font-size: 20px;
      color: white;
      height: 50px;
      width: 50px;
      background: #45aba6;
      border-radius: 60%;
      margin: 0px 10px;
      border: none;
      cursor: pointer;
  }
  .login-form button:hover{
    opacity: 0.9;
  }
  .login-form .seperator {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin: 50px 0 0;
  }
  .login-form .seperator b {
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
  }
  .login-form p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px;
  }
  .google button{width:100%;
    height:45px;
    cursor:pointer;
    transition:all 0.5s;
    color:#696969;
    font-weight:600;
    background-color:#fff;
    border:1px solid #ececec;
    border-radius:5px}

    .google button img{
      width:20px;
      position:absolute;
      top:138px;
      left:70px
      }

    .google button:hover{
      background-color:#f1ebeb !important}

    .google{margin-top:20px;
      position:relative;


    }
   


  @media screen and (max-width:767px) {
  .login-form {
      width: 90%;
      padding: 15px 15px 30px;
  }
  }